.footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ebdText {
  font-size: 11.25rem;
  color: transparent;
  -webkit-text-stroke: clamp(2px, 0.3vw, 3px) white;
}
.footerText {
  font-size: 2.5rem;
  font-weight: bold;
}
